body {
  background-color: DBB868;
  color: brown;
  font-family: 'Alegreya', sans-serif; /* Use the custom font */
}

#header {
  background-color: DBB868;
  color: 5C4033;
  font-size: 45px;
  position: relative;
  right: 10px;
}

#header2 {
  text-align: centered;
}

#img {
  position: absolute;
  top: 0px;
  right: 5px;
}

#buttons {
  text-align: centered;
}

a:hover {
  color: 5C4033;
  background-color: gray;
}

a:visited {
  background-color: DBB868;
  color: 5C4033;
}

a:unvisited {
  background-color: DBB868;
  color: 5C4033;
}

@font-face {
  font-family: 'YourFont';
  src: url('C:\\Users\\Cleo Collins\\OneDrive\\Documents\\Alegreya-Regular.ttf') format('truetype');
}
