body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Alegreya', sans-serif; /* Use the custom font */
  }
  
  #header {
    background-color: whitesmoke;
    color: blue;
    font-size: 200%;
    text-align: center;
  }
  
  #img {
    position: absolute;
    top: 0%;
    right: 0%;
  }
  
  #buttons {
    text-align: center;
    font-size: 200%;
  }
  #OS{
font-size: 250%;
  }
  #IOS{
    position: absolute;
    left: 85%;
  }
  #MacOS{
    position: absolute;
    left: 5%;
   }
   #LinuxOS{
    position: absolute;
    left: 20%
   }
   #WindowsOS{
    position: absolute;
    left: 40%;
    top: 27%;
   }
   #AndroidOS{
    position: absolute;
    top: 27%;
    left: 63%;
   }
  a:hover {
    color: white;
    background-color: black;
  }
  
  a:visited {
    color: black;
    background-color: whitesmoke;
  }
  
  a:link {
    color: black;
    background-color: whitesmoke;
  }
  
  @font-face {
    font-family: 'YourFont';
    src: url('C:\\Users\\Cleo Collins\\OneDrive\\Documents\\Alegreya-Regular.ttf') format('truetype');
  }
