body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Alegreya', sans-serif; /* Use the custom font */
  }
  
  #header {
    background-color: whitesmoke;
    color: blue;
    font-size: 200%;
    text-align: center;
  }
  .button {
    background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 1%;
  right: 1%;
  border-radius: 20%;
  }
  
  #img {
    position: absolute;
    top: 0%;
    left: 0%;
  }
  
  #buttons {
    text-align: center;
    font-size: 200%;
  }
  
  a:hover {
    color: white;
    background-color: black;
  }
  
  a:visited {
    color: black;
    background-color: whitesmoke;
  }
  
  a:link {
    color: black;
    background-color: whitesmoke;
  }
  
  @font-face {
    font-family: 'YourFont';
    src: url('C:\\Users\\Cleo Collins\\OneDrive\\Documents\\Alegreya-Regular.ttf') format('truetype');
  }
