body {
  background-color: #DBB868;
  color: brown;
  font-family: 'Alegreya', sans-serif; /* Use the custom font */
}

#header {
  background-color: #DBB868;
  color: #5C4033;
  font-size: 500px;
  text-align: center;
}

#img {
  position: absolute;
  top: 0px;
  right: 5px;
}

#Picture1 {
  position: absolute;
  left: 0px;
  top: 70px;
}
#Picture2 {
  position: absolute;
  left: 50px;
  top: 70px;
}
#Picture3 {
  position: absolute;
  top: 70px;
  right: 50px;
}
#Picture4 {
  position: absolute;
  right: 0px;
  top: 70px;
}

#buttons {
  text-align: center;
  font-size: 200px;
}

a:hover {
  color: #5C4033;
  background-color: gray;
}

a:visited {
  background-color: #DBB868;
  color: #5C4033;
}

a:unvisited {
  background-color: #DBB868;
  color: #5C4033;
}

@font-face {
  font-family: 'YourFont';
  src: url('C:\\Users\\Cleo Collins\\OneDrive\\Documents\\Alegreya-Regular.ttf') format('truetype');
}
