body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Alegreya', sans-serif; /* Use the custom font */
  }
  
  #header {
    background-color: whitesmoke;
    color: blue;
    font-size: 200%;
    text-align: center;
  }
  #buttons {
    position: relative;
    font-size: medium;
  }
  #img {
    position: absolute;
    top: 0%;
    right: 0%;
  }
  #PPTXT {
    position: absolute;
  }
  #buttons {
    text-align: center;
    font-size: 200%;
  }
  
  a:hover {
    color: white;
    background-color: black;
  }
  
  a:visited {
    color: black;
    background-color: whitesmoke;
  }
  
  a:link {
    color: black;
    background-color: whitesmoke;
  }
  
  @font-face {
    font-family: 'YourFont';
    src: url('C:\\Users\\Cleo Collins\\OneDrive\\Documents\\Alegreya-Regular.ttf') format('truetype');
  }
